p {color:rgb(20, 20, 20);
    font-size: 2em;
    text-transform: uppercase;
}


h1 {font-style: italic;

}

div {
	Height: 200px;
Width: 200px;
Margin-bottom: 20px;
Background: #c57070;
} 

a:visited {
    color: rgb(6, 194, 201);
    }
    
.container {
    width: 160px;
    height: 100px;
    padding: 10px;
    border: 20px;
    margin: 10px;
}